/* Css for level 01 */
.layout-item {
  /* height: 500px; */
}
.layout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.layout {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: 50% 25% 25%;

  /* track line bắt đầu từ số 1 */
  /* Số cột 3 ==>  track line = số cột + 1 = 4 */
  /* Số dòng 1 => track line = số dòng + 1 = 2  */
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;

  /* CÁCH VIẾT NGẮN GỌN CHO :  grid-gap 
      grid-gap : row column
    */
  grid-gap: 20px 40px;

  /* Chia theo hàng
    grid-template-rows: hàng 1 hàng 2 ...;
    có thể dùng đơn vị %, px, fr, auto
    Nếu để auto sẽ tự động co theo chiều cao của div hoặc img, điều này khá nguy hiểm 
    nếu không biết ảnh cao bao nhiêu      
    */
  grid-template-rows: 300px 600px;
  grid-template-rows: 1fr 1fr;
}

/* Ví dụ trên là layout được chia thành 4 cột và 2 hàng */